{{define "page-title"}}Builder{{end}}
{{define "page-body"}}
<div>
    <label>User:</label>
    <input type="text" name="user">
</div>
<div>
    <label>Origin IP:</label>
    <input type="text" name="orgIP">
</div>
<div>
    <label>Destination IP:</label>
    <input type="text" name="destIP">
</div>
<div>
<label>Tunnel Type:</label>
    <input type="radio" name="tuntype" value="dynamic"> Dynamic
    <input type="radio" name="tuntype" value="local"> Local
    <input type="radio" name="tuntype" value="remote"> Remote
</div>
<div>
    <input type="submit" onclick="getInputs()" value="Create syntax">
</div>
{{end}}