{{define "page-title"}}Builder{{end}}
{{define "page-body"}}
<div>
    <label>Tunnel Type:</label>
        <input type="radio" name="tuntype" value="dynamic"> Dynamic
        <input type="radio" name="tuntype" value="local"> Local
        <input type="radio" name="tuntype" value="remote"> Remote
</div>
<div>
    <label>Local Port:</label>
    <input type="text" name="localport">
</div>
<div>
    <label>SSH User:</label>
    <input type="text" name="sshuser">
</div>
<div>
    <label>SSH Server IP:</label>
    <input type="text" name="sshserverip">
</div>
<div>
    <label>SSH Server Port:</label>
    <input type="text" name="sshserverport">
</div>
<div>
    <label>Remote Host IP:</label>
    <input type="text" name="remotehostip">
</div>
<div>
    <label>Remote Host Port:</label>
    <input type="text" name="remotehostport">
</div>
<div>
    <input type="submit" onclick="getInputs()" value="Create syntax">
</div>
{{end}}