{{ define "page-title" }} SSH {{ end }}
{{ define "page-body" }}
<div class="alert alert-warning alert-dismissible" role="alert">
    <strong>Holy incorrect input Batman!</strong> You should check in on some of those fields below.
    <button type="button" class="close" data-hide="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div>
    <label>Tunnel Type:</label>
        <input class="tuntype" type="radio" name="tuntype" value="dynamic"> Dynamic
        <input class="tuntype" type="radio" name="tuntype" value="local"> Local
        <input class="tuntype" type="radio" name="tuntype" value="remote"> Remote
</div>
<div id="local-port-container">
    <label>Local Port:</label>
    <input id="local-port" type="text" name="localport">
</div>
<div id="ssh-user-container">
    <label>SSH User:</label>
    <input id="ssh-user" type="text" name="sshuser">
</div>
<div id="ssh-server-container">
    <label>SSH Server IP:</label>
    <input id="ssh-server" type="text" name="sshserverip">
</div>
<div id="ssh-server-port-container">
    <label>SSH Server Port:</label>
    <input id="ssh-server-port" type="text" name="sshserverport" value="22">
</div>
<div id="remote-host-container">
    <label>Remote Host IP:</label>
    <input id="remote-host" type="text" name="remotehostip" value="localhost">
</div>
<div id="remote-host-port-container">
    <label>Remote Host Port:</label>
    <input id="remote-host-port" type="text" name="remotehostport">
</div>
<div>
    <input type="submit" onclick="getSSHInputs()" value="Create syntax">
</div>
{{ end }}