{{define "page-title"}}Builder{{end}}
{{define "page-body"}}
<form action="/createtunnel" method="POST">
<div>
    <label>User:</label>
    <input type="text" name="user">
</div>
<div>
    <label>Origin IP:</label>
    <input type="text" name="orgIP">
</div>
<div>
    <label>Origin IP:</label>
    <input type="text" name="destIP">
</div>
<div>
<label>Tunnel Type:</label>
    <input type="radio" name="tuntype" value="dynamic"> Dynamic
    <input type="radio" name="tuntype" value="local"> Local
    <input type="radio" name="tuntype" value="remote"> Remote
</div>
<div>
    <input type="submit" value="Create syntax">
</div>
</form>
{{end}}